@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

*{
    box-sizing: border-box;
    margin: 0 auto;
}

@theme {
  --color-cool-sky: #5AA9E6;
  --color-sky-blue: #7FC8F8;
  --color-bright-snow: #F9F9F9;
  --color-royal-gold: #FFE45E;
  --color-black: #000000;
  --font-playfair: "Playfair Display SC", serif;
}

body {
  background: var(--color-cool-sky);
  color: var(--color-bright-snow);
  font-family: Serif, sans-serif;
}
